<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @semester.name %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @semester.branch.try(:name) %>
</p>

<div class="semester-subjects">
  <% @semester.subjects.each do |subject| %>
    <h3><%= subject.name %></h3>
  <% end %>
</div>

<%= link_to 'Edit', edit_semester_path(@semester) %> |
<%= link_to 'Back', semesters_path %>
