<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 subject-link">
      <div class="subject-title">
        <a href="/cs/cloud-notes"><%= image_tag "cloud-computing.jpg", class: "img-responsive"%></a>
      </div>
      <div class="text-center sub-name">
        <h2>Cloud Computing</h2>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 subject-link">
      <div class="subject-title">
        <a href="#"><%= image_tag "compiler-design.jpg", class: "img-responsive"%></a>
      </div>
      <div class="text-center sub-name">
        <h2>Compiler Design</h2>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 subject-link">
      <div class="subject-title">
        <a href="#"><%= image_tag "ism.jpg", class: "img-responsive"%></a>
      </div>
      <div class="text-center sub-name">
        <h2>Information Storage & Management</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 subject-link">
      <div class="subject-title">
        <a href="#"><%= image_tag "distributed-system.jpg", class: "img-responsive"%></a>
      </div>
      <div class="text-center sub-name">
        <h2>Distributed System</h2>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 subject-link">
      <div class="subject-title">
        <a href="#"><%= image_tag "network-security.png", class: "img-responsive"%></a>
      </div>
      <div class="text-center sub-name">
        <h2>Network & Web Security</h2>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 subject-link">
      <div class="subject-title">
        <a href="#"><%= image_tag "technical-training.jpg", class: "img-responsive"%></a>
      </div>
      <div class="text-center sub-name">
        <h2>Technical Training</h2>
      </div>
    </div>
  </div>
</div>