<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <div class="row">
      <div class="col-md-2">
        <%= f.label :first_name %>
      </div>
      <div class="col-md-10">
        <%= f.text_field :first_name, autofocus: true %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-2">
        <%= f.label :last_name %>
      </div>
      <div class="col-md-10">
        <%= f.text_field :last_name, autofocus: true %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-2">
        <%= f.label :username %>
      </div>
      <div class="col-md-10">
        <%= f.text_field :username, autofocus: true %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-2">
        <%= f.label :email %>
      </div>
      <div class="col-md-10">
        <%= f.email_field :email, autofocus: true %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-2">
        <%= f.label :branch_id %>
      </div>
      <div class="col-md-10">
        <%= f.select :branch_id, options_for_select(Branch.all.collect {|b| [ b.name, b.id ] },(f.object.try(:branch_id))),{include_blank: 'Select Branch'}, { :class => ''} %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-2">
        <%= f.label :password %>
      </div>
      <div class="col-md-10">
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-2">
        <%= f.label :password_confirmation %>
      </div>
      <div class="col-md-10">
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "students/shared/links" %>
